.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

Box-and-sliders {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Box-style {
  width: 100vw;
  height: 20vh;
}

.hsl-sliders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  height: 50vh;
  padding-left: 20vw;
  align-content: space-between;
}

.input-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
