.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

Box-and-sliders {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.Box-style {
  width: 3em;
  height: 3em;
  margin: 3px;
  border-radius: 5%;
}

.hsl-sliders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
